section#what_we_do.info.main.style2.dark.fullscreen.right(style='background-image:url(images/overlay.png),url(images/#{ locals.home.what_we_do.picture } );')
  .content.box.style2
    header
      h2 #{ locals.home.what_we_do.title }
    p
      | #{ locals.home.what_we_do.description }
  a.button.style2.down.anchored(href='#{ locals.home.what_we_do.buttonlink }') #{ locals.home.what_we_do.buttontext }
