head
  title #{ locals.site.title }
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='content-language', content='#{ locals.site.lang }')
  meta(charset='#{ locals.home.head.charset }')
  meta(name='viewport', content='#{ locals.home.head.viewport }')
  meta(name='robots', content='#{ locals.home.head.robots }')
  meta(name='description', content='#{ locals.home.head.description }')
  meta(name='keywords', content='#{ locals.home.head.keywords }')
  meta(name='author', content='#{ locals.home.head.author }')
  meta(name='google-site-verification', content='#{ locals.home.head.google_site_verification }')
  meta(name='og:title', property='og:title', content='#{ locals.site.title }')
  meta(name='og:type', property='og:type', content='#{ locals.home.head.og_type }')
  meta(name='og:site_name', property='og:site_name', content='#{ locals.site.title }')
  meta(name='og:description', property='og:description', content='#{ locals.site.description }')
  meta(name='og:url', property='og:url', content='#{ locals.home.head.og_url }')
  meta(name='og:image', property='og:image', content='#{ locals.home.head.og_image }')
  meta(name='fb:app_id', property='fb:app_id', content='#{ locals.home.head.fb_app_id }')
  meta(name='twitter:card', property='twitter:card', content='#{ locals.home.head.twitter_card }')
  meta(name='twitter:site', property='twitter:site', content='#{ locals.home.head.twitter_site }')
  meta(name='twitter:title', property='twitter:title', content='#{ locals.site.title }')
  meta(name='twitter:description', property='twitter:description', content='#{ locals.site.description }')
  meta(name='twitter:url', property='twitter:url', content='#{ locals.home.head.twitter_url }')
  meta(name='twitter:image', property='twitter:image', content='#{ locals.home.head.twitter_image }')
  link(rel='shortcut icon', href='images/#{ locals.site.icon }', type='image/x-icon')
  link(rel='stylesheet', href='css/big-picture.min.css')
  //if lte IE 8 
    | if lte IE 8 | [if lte IE 8 ]]>
    | script(src='js/ie/html5shiv.js')
  // if lte IE 8link(rel='stylesheet', href='css/ie8.css')
  // if lte IE 8link(rel='stylesheet', href='css/ie9.css')
