section#why_us.info.main.style2.dark.fullscreen.left(style='background-image:url(images/overlay.png),url(images/#{ locals.home.why_us.picture } );')
  .content.box.style2
    header
      h2 #{ locals.home.why_us.title }
    p
      | #{ locals.home.why_us.description }
  a.button.style2.down.anchored(href='#{ locals.home.why_us.buttonlink }') #{ locals.home.why_us.buttontext }
