section#who_we_are.info.main.style2.dark.fullscreen.left(style='background-image:url(images/overlay.png),url(images/#{ locals.home.who_we_are.picture } );')
  .content.box.style2
    header
      h2 #{ locals.home.who_we_are.title }
    p
      | #{ locals.home.who_we_are.description }
  a.button.style2.down.anchored(href='#{ locals.home.who_we_are.buttonlink }') #{ locals.home.who_we_are.buttontext }
