.avoid_pagebreak
  h4 #{ locals.resume.experience.title }
  .row.experience
    .large-6.medium-6.small-12.columns.end.animated.fadeIn
      .year #{ locals.resume.experience.year }
      .exp_data
        .date #{ locals.resume.experience.date }
        .role #{ locals.resume.experience.role }
        .company #{ locals.resume.experience.company }
