<header id="header">
<h1>
<img alt="<%- config.site.title %>" src="images/favicon.png" title="<%- config.site.title %>" width="14px">
<%- config.site.title %>
</h1>
<nav>
<ul>
<li><a href="<%- config.home.header[0].link %>"><%- config.home.header[0].title %></a></li>
<li><a href="<%- config.home.header[1].link %>"><%- config.home.header[1].title %></a></li>
<li><a href="<%- config.home.header[2].link %>"><%- config.home.header[2].title %></a></li>
<li><a href="<%- config.home.header[3].link %>"><%- config.home.header[3].title %></a></li>
<li><a href="<%- config.home.header[4].link %>"><%- config.home.header[4].title %></a></li>
</ul>
</nav>
</header>