<section id="intro" style="background-image:url(images/overlay.png),url(images/<%- config.home.intro.picture %> );" class="main style1 dark fullscreen">
<div class="content">
<header>
<h2><%- config.home.intro.title %></h2>
</header>
<p><%- config.home.intro.description %></p>
<footer>
<a href="<%- config.home.intro.buttonlink %>" class="button style2 down">
<%- config.home.intro.buttontext %>
</a>
</footer>
</div>
</section>