<section id="why_us" style="background-image:url(images/overlay.png),url(images/<%- config.home.why_us.picture %> );" class="info main style2 dark fullscreen left">
<div class="content box style2">
<header>
<h2><%- config.home.why_us.title %></h2>
</header>
<p><%- config.home.why_us.description %></p>
</div><a href="<%- config.home.why_us.buttonlink %>" class="button style2 down anchored"><%- config.home.why_us.buttontext %></a>
</section>