<section id="what_we_do" style="background-image:url(images/overlay.png),url(images/<%- config.home.what_we_do.picture %> );" class="info main style2 dark fullscreen right">
<div class="content box style2">
<header>
<h2><%- config.home.what_we_do.title %></h2>
</header>
<p><%- config.home.what_we_do.description %></p>
</div>
<a href="<%- config.home.what_we_do.buttonlink %>" class="button style2 down anchored">
<%- config.home.what_we_do.buttontext %>
</a>
</section>