<div class="avoid_pagebreak">
<h4><%- config.resume.hobbies_interest.title %></h4>
<div class="row interests">
<div class="large-3 small-6 medium-3 columns animated fadeIn">
<div class="int_icon"><i class="<%- config.resume.hobbies_interest.list[0].icon %>"></i>
<div class="activity"><%- config.resume.hobbies_interest.list[0].title %></div>
</div>
</div>
<div class="large-3 small-6 medium-3 columns animated fadeIn">
<div class="int_icon"><i class="<%- config.resume.hobbies_interest.list[1].icon %>"></i>
<div class="activity"><%- config.resume.hobbies_interest.list[1].title %></div>
</div>
</div>
<div class="large-3 small-6 medium-3 columns animated fadeIn">
<div class="int_icon"><i class="<%- config.resume.hobbies_interest.list[2].icon %>"></i>
<div class="activity"><%- config.resume.hobbies_interest.list[2].title %></div>
</div>
</div>
<div class="large-3 small-6 medium-3 columns animated fadeIn">
<div class="int_icon"><i class="<%- config.resume.hobbies_interest.list[3].icon %>"></i>
<div class="activity"><%- config.resume.hobbies_interest.list[3].title %></div>
</div>
</div>
<div class="large-3 small-6 medium-3 columns animated fadeIn">
<div class="int_icon"><i class="<%- config.resume.hobbies_interest.list[4].icon %>"></i>
<div class="activity"><%- config.resume.hobbies_interest.list[4].title %></div>
</div>
</div>
<div class="large-3 small-6 medium-3 columns animated fadeIn">
<div class="int_icon"><i class="<%- config.resume.hobbies_interest.list[5].icon %>"></i>
<div class="activity"><%- config.resume.hobbies_interest.list[5].title %></div>
</div>
</div>
<div class="large-3 small-6 medium-3 columns animated fadeIn">
<div class="int_icon"><i class="<%- config.resume.hobbies_interest.list[6].icon %>"></i>
<div class="activity"><%- config.resume.hobbies_interest.list[6].title %></div>
</div>
</div>
<div class="large-3 small-6 medium-3 columns end animated fadeIn">
<div class="int_icon"><i class="<%- config.resume.hobbies_interest.list[7].icon %>"></i>
<div class="activity"><%- config.resume.hobbies_interest.list[7].title %></div>
</div>
</div>
</div>
</div>