<div class="avoid_pagebreak">
<h4><%- config.resume.experience.title %></h4>
<div class="row experience">
<div class="large-6 medium-6 small-12 columns end animated fadeIn">
<div class="year"><%- config.resume.experience.year %></div>
<div class="exp_data">
<div class="date"><%- config.resume.experience.date %></div>
<div class="role"><%- config.resume.experience.role %></div>
<div class="company"><%- config.resume.experience.company %></div>
</div>
</div>
</div>
</div>