<head>
<title><%- config.site.title %></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="content-language" content="<%- config.site.lang %>">
<meta charset="<%- config.home.head.charset %>">
<meta name="viewport" content="<%- config.home.head.viewport %>">
<meta name="robots" content="<%- config.home.head.robots %>">
<meta name="description" content="<%- config.site.description %>">
<meta name="keywords" content="<%- config.home.head.keywords %>">
<meta name="author" content="<%- config.home.head.author %>">
<meta name="google-site-verification" content="<%- config.home.head.google_site_verification %>">
<meta name="og:title" property="og:title" content="<%- config.site.title %>">
<meta name="og:type" property="og:type" content="<%- config.home.head.og_type %>">
<meta name="og:site_name" property="og:site_name" content="<%- config.site.title %>">
<meta name="og:description" property="og:description" content="<%- config.site.description %>">
<meta name="og:url" property="og:url" content="<%- config.home.head.og_url %>">
<meta name="og:image" property="og:image" content="<%- config.home.head.og_image %>">
<meta name="fb:app_id" property="fb:app_id" content="<%- config.home.head.fb_app_id %>">
<meta name="twitter:card" property="twitter:card" content="<%- config.home.head.twitter_card %>">
<meta name="twitter:site" property="twitter:site" content="<%- config.home.head.twitter_site %>">
<meta name="twitter:title" property="twitter:title" content="<%- config.site.title %>">
<meta name="twitter:description" property="twitter:description" content="<%- config.site.description %>">
<meta name="twitter:url" property="twitter:url" content="<%- config.home.head.twitter_url %>">
<meta name="twitter:image" property="twitter:image" content="<%- config.home.head.twitter_image %>">
<link rel="shortcut icon" href="images<%- config.site.icon %>" type="image/x-icon">
<link rel="stylesheet" href="/css/big-picture.min.css">
</head>