<head>
<title><%- public._data.site.title %></title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="content-language" content="<%- public._data.site.lang %>">
<meta charset="<%- public._data.home.head.charset %>">
<meta name="viewport" content="<%- public._data.home.head.viewport %>">
<meta name="robots" content="<%- public._data.home.head.robots %>">
<meta name="description" content="<%- public._data.site.description %>">
<meta name="keywords" content="<%- public._data.home.head.keywords %>">
<meta name="author" content="<%- public._data.home.head.author %>">
<meta name="google-site-verification" content="<%- public._data.home.head.google_site_verification %>">
<meta name="og:title" property="og:title" content="<%- public._data.site.title %>">
<meta name="og:type" property="og:type" content="<%- public._data.home.head.og_type %>">
<meta name="og:site_name" property="og:site_name" content="<%- public._data.site.title %>">
<meta name="og:description" property="og:description" content="<%- public._data.site.description %>">
<meta name="og:url" property="og:url" content="<%- public._data.home.head.og_url %>">
<meta name="og:image" property="og:image" content="<%- public._data.home.head.og_image %>">
<meta name="fb:app_id" property="fb:app_id" content="<%- public._data.home.head.fb_app_id %>">
<meta name="twitter:card" property="twitter:card" content="<%- public._data.home.head.twitter_card %>">
<meta name="twitter:site" property="twitter:site" content="<%- public._data.home.head.twitter_site %>">
<meta name="twitter:title" property="twitter:title" content="<%- public._data.site.title %>">
<meta name="twitter:description" property="twitter:description" content="<%- public._data.site.description %>">
<meta name="twitter:url" property="twitter:url" content="<%- public._data.home.head.twitter_url %>">
<meta name="twitter:image" property="twitter:image" content="<%- public._data.home.head.twitter_image %>">
<link rel="shortcut icon" href="images<%- public._data.site.icon %>" type="image/x-icon">
<link rel="stylesheet" href="css/big-picture.min.css">
</head>