<section id="who_we_are" style="background-image:url(images/overlay.png),url(images/<%- public._data.home.who_we_are.picture %> );" class="info main style2 dark fullscreen left">
<div class="content box style2">
<header>
<h2><%- public._data.home.who_we_are.title %></h2>
</header>
<p><%- public._data.home.who_we_are.description %></p>
</div>
<a href="<%- public._data.home.who_we_are.buttonlink %>" class="button style2 down anchored">
<%- public._data.home.who_we_are.buttontext %>
</a>
</section>