<section id="intro" style="background-image:url(images/overlay.png),url(images/<%- public._data.home.intro.picture %> );" class="main style1 dark fullscreen">
<div class="content">
<header>
<h2><%- public._data.home.intro.title %></h2>
</header>
<p><%- public._data.home.intro.description %></p>
<footer>
<a href="<%- public._data.home.intro.buttonlink %>" class="button style2 down">
<%- public._data.home.intro.buttontext %>
</a>
</footer>
</div>
</section>