<header id="header">
<h1>
<img alt="<%- public._data.site.title %>" src="images/favicon.png" title="<%- public._data.site.title %>" width="14px">
<%- public._data.site.title %>
</h1>
<nav>
<ul>
<li><a href="<%- public._data.home.header[0].link %>"><%- public._data.home.header[0].title %></a></li>
<li><a href="<%- public._data.home.header[1].link %>"><%- public._data.home.header[1].title %></a></li>
<li><a href="<%- public._data.home.header[2].link %>"><%- public._data.home.header[2].title %></a></li>
<li><a href="<%- public._data.home.header[3].link %>"><%- public._data.home.header[3].title %></a></li>
<li><a href="<%- public._data.home.header[4].link %>"><%- public._data.home.header[4].title %></a></li>
</ul>
</nav>
</header>