<div class="avoid_pagebreak">
<h4><%- public._data.resume.specialities.title %></h4>
<ul class="inline-list special first last">
<li class="animated <%- public._data.resume.specialities.list[0].animated %>">
<i class="<%- public._data.resume.specialities.list[0].icon %>"></i>
<div class="pointer hide-for-small-only"></div>
<div class="desc"><%- public._data.resume.specialities.list[0].title %></div>
</li>
<li class="animated <%- public._data.resume.specialities.list[1].animated %>">
<i class="<%- public._data.resume.specialities.list[1].icon %>"></i>
<div class="pointer hide-for-small-only second"></div>
<div class="desc"><%- public._data.resume.specialities.list[1].title %></div>
</li>
<li class="animated <%- public._data.resume.specialities.list[2].animated %>">
<i class="<%- public._data.resume.specialities.list[2].icon %>"></i>
<div class="pointer hide-for-small-only"></div>
<div class="desc"><%- public._data.resume.specialities.list[2].title %></div>
</li>
</ul>
</div>