<div class="avoid_pagebreak">
<h4><%- public._data.resume.experience.title %></h4>
<div class="row experience">
<div class="large-6 medium-6 small-12 columns end animated fadeIn">
<div class="year"><%- public._data.resume.experience.year %></div>
<div class="exp_data">
<div class="date"><%- public._data.resume.experience.date %></div>
<div class="role"><%- public._data.resume.experience.role %></div>
<div class="company"><%- public._data.resume.experience.company %></div>
</div>
</div>
</div>
</div>