<section class="main style3 secondary">
<div class="content container">
<header>
<h2>
<%- public._data.thanks.content.title %>
</h2>
</header>
<p><%- public._data.thanks.content.description %></p>
<span class="fa-stack fa-3x">
<i class="fa fa-circle-thin fa-stack-2x"></i>
<i class="fa <%- public._data.thanks.content.list[0].icon %> fa-stack-1x"></i>
</span>
<span class="fa-stack fa-3x">
<i class="fa fa-circle-thin fa-stack-2x"></i>
<i class="fa <%- public._data.thanks.content.list[1].icon %> fa-stack-1x"></i>
</span>
<span class="fa-stack fa-3x">
<i class="fa fa-circle-thin fa-stack-2x"></i>
<i class="fa <%- public._data.thanks.content.list[2].icon %> fa-stack-1x"></i>
</span>
<span class="fa-stack fa-3x">
<i class="fa fa-circle-thin fa-stack-2x"></i>
<i class="fa <%- public._data.thanks.content.list[3].icon %> fa-stack-1x"></i>
</span>
<span class="fa-stack fa-3x">
<i class="fa fa-circle-thin fa-stack-2x"></i>
<i class="fa <%- public._data.thanks.content.list[4].icon %> fa-stack-1x"></i>
</span>
<span class="fa-stack fa-3x">
<i class="fa fa-circle-thin fa-stack-2x"></i>
<i class="fa <%- public._data.thanks.content.list[5].icon %> fa-stack-1x"></i>
</span>
<span class="fa-stack fa-3x">
<i class="fa fa-circle-thin fa-stack-2x"></i>
<i class="fa <%- public._data.thanks.content.list[6].icon %> fa-stack-1x"></i>
</span>
<span class="fa-stack fa-3x">
<i class="fa fa-circle-thin fa-stack-2x"></i>
<i class="fa <%- public._data.thanks.content.list[7].icon %> fa-stack-1x"></i>
</span>
<div class="12u">
<ul class="actions">
<li>
<a href="/" class="button">
<%- public._data.thanks.content.buttontext %>
</a>
</li>
</ul>
</div>
</div>
</section>